# Python virtual environments & caches
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# Node dependencies & builds
frontend/node_modules/
frontend/dist/
frontend/.DS_Store

# General OS files
.DS_Store
Thumbs.db
